# Hackaton2018

In [2]:
import pandas as pd
import numpy as np

from datascience import *

from astropy import units as u
from astropy.time import Time
from astropy.coordinates import SkyCoord

# Coordinates 39 gamma-ray sources
<br>
<br>

In [7]:
data_e = Table.read_table("./catalogue/files/2HWC.csv")
data_e.show(2)

In [9]:
d = SkyCoord(ra=data_e.column(3)*u.degree, dec=data_e.column(4)*u.degree, distance=200*u.pc) # parsec

In [8]:
dist = []

for i in np.arange(40):
    dist.append(200)

# Create new table
coords = data_e.select(0,1,2,3,4)
coords = coords.with_columns(
    'dist (pc)', dist,
    'x', d.cartesian.x,
    'y', d.cartesian.y,
    'z', d.cartesian.z
)
coords.show(2)

In [34]:
coords.to_csv('2HWC_modified-2.csv') # export CSV

In [29]:
SkyCoord.from_name("PSR J0534+220") # CRAB NEBULAE

<SkyCoord (ICRS): (ra, dec) in deg
    (83.633212, 22.01446)>

In [30]:
# Crab nebulae
crab_nebulae = SkyCoord(ra=83.6279*u.degree, dec=22.0243*u.degree, distance=2*u.kpc) 
crab_nebulae.cartesian

<CartesianRepresentation (x, y, z) in kpc
    (0.20577173, 1.84259562, 0.74999958)>

In [31]:
# Geminga
geminga = SkyCoord(ra=97.998*u.degree, dec=16.9968*u.degree, distance=2.5*u.kpc) # parsec
geminga.cartesian

<CartesianRepresentation (x, y, z) in kpc
    (-0.33265278, 2.36754719, 0.73079574)>

In [33]:
coords.where(0, are.equal_to(' 2HWC J1104+381 '))

name             | l       | b       | RA      | Dec     | dist (pc) | x        | y       | z
 2HWC J1104+381  | 179.945 | 65.0467 | 166.113 | 38.1585 | 200       | -152.664 | 37.7438 | 123.56780557911655 pc

# Cascade event
<br>
<br>

In [35]:
data_c = Table.read_table('./cascades/cascades/cascade_0ID_1.15412e+09s_1.11097e+08ns_Select_woF.csv')
data_c.show(3)

In [36]:
amp_pulso = data_c.column(1)
amp_pulso

array([8.00000e-01, 2.96000e+01, 1.51300e+02, 1.72000e+01, 9.20000e+00,
       7.30000e+00, 1.25100e+02, 1.86000e+01, 3.37000e+01, 6.24000e+01,
       7.00000e-01, 7.00000e-01, 0.00000e+00, 2.38000e+01, 2.72000e+01,
       9.40000e+00, 1.76000e+01, 4.10000e+00, 1.74000e+01, 2.96000e+02,
       3.30000e+00, 3.50000e+00, 1.20000e+01, 1.06000e+01, 4.05000e+01,
       8.09000e+01, 1.76000e+01, 4.04000e+01, 2.41000e+01, 4.55000e+01,
       1.07000e+01, 2.79000e+01, 3.08000e+01, 1.00000e+00, 5.50000e+00,
       2.30000e+00, 5.40000e+00, 1.30000e+00, 5.60000e+00, 0.00000e+00,
       5.01000e+01, 8.65000e+01, 3.20000e+01, 9.28000e+01, 2.75000e+01,
       2.92000e+01, 2.34000e+01, 8.23000e+01, 4.06000e+01, 3.34600e+02,
       3.80000e+00, 5.50000e+00, 3.09000e+01, 1.05000e+01, 3.40000e+00,
       2.59900e+02, 7.06000e+02, 6.70000e+01, 3.77000e+01, 3.62000e+01,
       2.99000e+01, 2.35000e+01, 4.59000e+01, 5.08000e+01, 2.89000e+01,
       5.80000e+00, 3.37000e+01, 7.00000e+00, 1.90000e+00, 2.50000e+00,
       4.00000e+00, 1.76000e+01, 7.70000e+01, 2.33000e+02, 4.32000e+01,
       8.63000e+01, 1.55300e+02, 4.05000e+01, 2.89000e+01, 3.43000e+01,
       1.92000e+01, 1.35000e+01, 6.30000e+00, 5.11000e+01, 0.00000e+00,
       4.70000e+00, 5.50000e+00, 7.00000e-01, 9.00000e-01, 2.66000e+01,
       4.51000e+01, 3.15000e+02, 2.83200e+02, 1.30100e+02, 1.70300e+02,
       3.12000e+01, 7.48000e+01, 4.06800e+02, 1.47000e+01, 8.00000e-01,
       1.73000e+01, 1.22000e+01, 5.42000e+01, 1.00000e+01, 1.03000e+01,
       5.50000e+00, 5.80000e+00, 0.00000e+00, 1.10900e+02, 9.96000e+01,
       1.58600e+02, 1.95000e+02, 1.67500e+02, 1.73000e+02, 2.15400e+02,
       1.07900e+02, 3.34100e+02, 5.60000e+01, 2.10000e+01, 4.96000e+01,
       1.78000e+01, 1.45000e+01, 5.90000e+00, 7.40000e+00, 1.50000e+00,
       1.35500e+02, 1.59500e+02, 2.67400e+02, 1.11100e+02, 1.82300e+02,
       7.38000e+01, 4.08600e+02, 2.24000e+01, 1.81100e+02, 1.18100e+02,
       7.73000e+01, 6.00000e-01, 1.30000e+00, 2.10000e+01, 1.61000e+01,
       7.97000e+01, 9.60000e+01, 1.51300e+02, 5.26400e+02, 1.86800e+02,
       6.13500e+02, 3.07600e+02, 3.85100e+02, 1.71100e+02, 6.25000e+01,
       4.07000e+01, 7.29000e+01, 2.29800e+02, 2.10000e+01, 1.08000e+01,
       6.00000e-01, 2.20000e+00, 4.50000e+00, 6.24000e+01, 3.93000e+01,
       6.90000e+01, 1.75800e+02, 7.09300e+02, 1.95100e+02, 3.31600e+02,
       4.76500e+02, 1.33100e+02, 1.73800e+02, 1.15700e+02, 1.07200e+02,
       8.33000e+01, 1.68000e+01, 3.04000e+01, 1.50000e+00, 3.30000e+00,
       1.40000e+00, 1.20000e+00, 7.44000e+01, 8.48000e+01, 1.31100e+02,
       1.58600e+02, 1.00000e+00, 6.00000e-01, 8.36000e+02, 4.41700e+02,
       5.08000e+01, 2.26200e+02, 2.13300e+02, 1.02800e+02, 1.32000e+01,
       1.83000e+01, 1.19000e+01, 1.38000e+01, 9.40000e+00, 1.46000e+01,
       1.09800e+02, 1.28400e+02, 1.30707e+04, 1.22727e+04, 5.73400e+02,
       1.62180e+03, 2.00000e+00, 1.20370e+03, 4.91500e+02, 8.21600e+02,
       1.09200e+02, 1.54100e+02, 2.22700e+02, 7.34000e+01, 3.37000e+01,
       3.95000e+01, 2.16000e+01, 1.45000e+01, 1.35000e+01, 1.21000e+02,
       7.09000e+01, 9.78000e+01, 4.04000e+02, 1.44210e+03, 8.43500e+02,
       1.62710e+03, 1.84350e+03, 6.15000e+02, 3.14200e+02, 3.89000e+02,
       9.79400e+02, 5.83700e+02, 3.18000e+01, 2.20000e+01, 4.61000e+01,
       8.00000e-01, 2.75000e+01, 4.59000e+01, 9.92000e+01, 2.78600e+02,
       4.24200e+02, 8.16000e+02, 2.11300e+03, 3.12710e+03, 4.23070e+03,
       8.43920e+03, 7.41100e+02, 3.52000e+02, 3.29200e+02, 2.24800e+02,
       1.74700e+02, 8.67000e+01, 3.78000e+01, 5.94000e+01, 3.40000e+01,
       6.09900e+02, 2.06600e+02, 1.39510e+03, 3.89670e+03, 7.76600e+03,
       1.50400e+03, 7.11400e+02, 1.03950e+03, 3.38600e+02, 2.30100e+02,
       5.00000e+01, 1.48400e+02, 1.03000e+01, 1.30000e+00, 3.57000e+01,
       7.30000e+02, 1.87570e+03, 4.61530e+03, 6.00000e-01, 6.00010e+03,
       0.00000e+00, 1.30010e+03, 5.77600e+02, 8.33400e+02, 1.61500e+02,
       2.54000e+02, 5.06000e+01, 2.56000e+01, 3.31000e+01, 3.66020e+03,
       1.39180e+03, 5.49400e+02, 5.27600e+02, 1.99900e+02, 2.29600e+02,
       1.81200e+02, 2.20100e+02, 1.91000e+01, 7.29000e+01, 3.11000e+01])

# Lightcurve J0631+220
<br>
<br>

In [15]:
data_a = Table.read_table("./lightcurves/HAWC_fluxlc_Crab_2014-11-26_2016-06-02_1days_si2.63_co1000000_int1.00TeV_mintransits0.50.dat")
#data_a = Table.read_table("./lightcurves/HAWC_fluxlc_Mrk421_2014-11-26_2016-06-02_1days_si2.2_co5_int2.00TeV_mintransits0.50.dat")
#data_a = Table.read_table("./lightcurves/HAWC_fluxlc_Mrk501_2014-11-26_2016-06-02_1days_si1.6_co6_int3.00TeV_mintransits0.50.dat")
print(data_a.row(3)[0])
print(data_a.row(4)[0])
#print(data_a.row(5)[0])

# MJD start  MJD stop  flux+/-err [cm^-2 s^-1]  flux+/-err [CU]  transits  index  cut-off   TS(bkg)
56988.1937  56988.4431    2.452e-11  5.149e-12    1.298  0.273    1.000    2.63  1000000.0   43.79

In [14]:
new = []
flux = []
blanco = []

for i in np.arange(479):
    blanco.append(" ")
    
for i in np.arange(4, data_a.num_rows):
    # Mención a Emmanuel Anguiano-Hernández @mecanosaurio
    new = [float(a) for a  in data_a.row(i)[0].split() if a != ' ' ] 
    flux.append(new[2])
    #print(i, flux)

# Create table
crab_flux = Table().with_column(
    'flux+ [cm^-2 s^-1]', flux,
    #'-err [cm^-2 s^-1]', flux,
    #'Blanco', blanco
)
crab_flux.to_csv('HAWC_fluxlc_Crab_.csv') # export to CSV
crab_flux.show(2)

In [13]:
crab_flux.column(0).min()

1.265e-12

In [40]:
crab_flux.column(0).max()

4.14e-11

In [41]:
np.average(crab_flux.column(0))

1.9378135593220336e-11

In [42]:
MJD_start = Time(new[0], format ='mjd')
MJD_stop = Time(new[1], format ='mjd')

myMJD_01 = Time(56989.191, format ='mjd')
myMJD_02 = Time(56989.4403, format ='mjd')

MJD_year_1 = Time(57000, format ='mjd')
MJD_year_2 = Time(57400, format ='mjd')

MJD_start.yday

'2016:111:19:05:57.120'

In [43]:
MJD_stop.yday

'2016:112:01:04:56.640'

In [44]:
print(myMJD_01.yday)
print(myMJD_02.yday)

2014:332:04:35:02.400
2014:332:10:34:01.920

In [45]:
print(MJD_year_1.yday)
print(MJD_year_2.yday)

2014:343:00:00:00.000
2016:013:00:00:00.000